<mat-sidenav-container class="sidenav-container">

  <mat-sidenav mode="side" opened class="sidenav">
    <div class="brand">
      <mat-icon class="brand-icon">hub</mat-icon>
      <span class="brand-name">BpmPlus</span>
      <span class="brand-sub">Monitor</span>
    </div>

    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: item.route === '/' }">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <mat-toolbar class="toolbar">
      <span class="toolbar-spacer"></span>
      <span class="toolbar-title">Surveillance des processus BPM</span>
    </mat-toolbar>
    <div class="content-area">
      <router-outlet />
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
